<h1 class="flex-grow text-center text-3xl font-sans font-bold bg-black text-white spacing-word h-[6%] p-2">Lista de Tareas</h1>
<div class="flex items-start mt-10 ">
  <img class="w-[30%]" src="../assets/img/pngtree-team-of-tiny-people-working-on-to-do-list-with-checkmarks-png-image_8717532-removebg-preview.png" alt="" >
  <router-outlet></router-outlet>

</div>
<footer class="mt-10 text-center text-gray-500">
  &copy; 2023 Todos los derechos reservados. pepe
</footer>


<style scoped>
  .spacing-word {
    letter-spacing: 0.15rem;
    font-size: 32px;
  }
</style>
